@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager;



<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projekt_ASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/structureSkeleton.css" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand d-flex bg-transparent h-100">
            <div class="container h-100">
                <a class="navbar-brand navbar-text" asp-area="" asp-controller="App" asp-action="Index" style="color: #65FFDD ">TODO List</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav d-flex justify-content-around flex-grow-1">                       
                        <li class="nav-item h-100">
                            <a class=" navbar-text" asp-area="" asp-controller="App" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item h-100">
                            <a class="navbar-text" asp-controller="App" asp-action="YourTeams">Your teams</a>
                        <li class="nav-item h-100">
                            <a class="navbar-text " asp-controller="Creators" asp-action="CreateTeamPage">Create team</a>
                        </li>                       

                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="YourAccount">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
        <main role="main" class="h-100">
            @RenderBody()
        </main>
    
    <script src="~/js/App.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
